/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Bangers);

body{
	/*background: url(http://subtlepatterns.com/patterns/purty_wood.png);*/
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	font-family: 'Bangers', 'Arial', serif !important;
}
.padding-top { 
	padding-top: 70px; 
}
.pick {
	cursor: default;
	font-family: Arial;
}
.word-error{
	color:red;
}
.word-success{
	color:green;
	text-decoration: none;
}
.modal-content{
	background: #5cb85c;
	color: white;
	text-align: center;
}
.error-modal{
	background:rgb(216, 36, 36); 
}
.list-index{
	list-style: None;
	float:left;
}
.list-index li {
	float: left;
	margin-right: 50px;
}
.container{
	text-align: center;
}
.container .table{
	text-align: left;
}
.jumbotron{
	background: none;
	padding-top: 0px;
}
label{
	font-weight: normal;
}
.lego{
	
}
.lead{
	color:rgb(216, 36, 36);
}
.new-player .form-control{
	width:25%;
	display: inline;
	height: 46px;
	font-size: 23px;
}
.start{
	width: 50px !important;
}
.alert-info {
	color: white;
	background-color: #449d44;
	border-color:white;
}