<head>
  <title>Word Chain Game</title>
</head>

<body>
 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right hidden">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
        

      <div class="jumbotron game-frame">	
        {{#if gameStarted}}
        	<h3 class="text-muted">Select a word from the list below:</h3>
      	{{else}}
        	<h3 class="text-muted">Rock at School, start playing!</h3>
      	{{/if}}
        {{#if gameStarted}}
	    	<p class="navbar-fixed-top alert alert-info">
	    		<ul class="list-index">
	    			{{> scoring}}
	    			{{> timer}}
	    			{{> words}}
	    		</ul>
	    	</p>
	    		{{> picklist}}
	    {{else}}
        
        <h1>Word Chain Game</h1>
	    
        
        <h2 class="lead">Sou<b>p</b> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <b>P</b>ea<b>s</b> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <b>S</b>uga<b>r</b> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <b>R</b>ic<b>e</b> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> ... </h2>
        
        <p>
	      <div class="new-player">
        	<input type="text" class="form-control name" id="exampleInputEmail1" placeholder="Your Name">
	      	<select id="category" name="category" class="form-control">
			    <option value="">Pick a category</option>
			  {{#each categories}}
			    <option value="{{text}}">{{text}}</option>
			  {{/each}}
	  	  	</select>
	  	  	<input type="button" class="form-control btn btn-success start" value="Go!" />
		  </div>
        </p>
	    {{/if}}

     
	    <table class="table">
	      <caption>Live score</caption>
	      <thead>
	        <tr>
	          <th>Name</th>
	          <th>Score</th>
	          <th>Category</th>
	        </tr>
	      </thead>
	      <tbody>
	        {{#each games}}
		  	  {{> stats}}
		  	 {{/each}}
	      </tbody>
	    </table>
	  </div>
	  <!-- Points Modal -->
		<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        {{modaltext}}
		      </div>
		    </div>
		  </div>
		</div>
    </div> <!-- /container -->
    
</body>
<template name="scoring"> 
	<li>
      <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
      <span class="glyphicon-class">{{score}}</span>
    </li>
</template>

<template name="timer"> 
	<li>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      <span class="glyphicon-class">{{time}}</span>
    </li>
</template>

<template name="words"> 
	<li>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          <span class="glyphicon-class lego">{{word}} -> ? </span>
        </li>
</template>

<template name="picklist">
	<div class='pick-list'>
		 <p>
		 {{#each list}}
		    <a class='link pick label label-default' data-id='{{this}}'>{{this}}</a>
		 {{/each}}
		 </p>
	</div>
</template>

<template name="stats">
<tr>
	<td>{{userName}}</td>
	<td>{{score}}</td>
	<td>{{category}}</td>
</tr>
</template>